html {
    font-size: 14px;
}

/*@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


#shopItems {
    gap: 1rem;
    /*justify-content: flex-start;*/
    /*display: inline-flex;*/
    display: flex;
    height: 100%;
    /*flex-wrap: wrap;*/
}

.card {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #AC8383;
    background-image: linear-gradient(160deg, white 0%, #AC8383 150%);
}

.card-img-top {
    height: 30%;
}

/*.card-text {
    flex-grow: 0.5;
}*/

#cardBottom {
   /* height:30%;*/
/*    padding-bottom: 0,5rem;
*/
    margin-bottom: 1rem;
    border-top: solid;
    border-color: #442121;
    /*margin-top: 2rem;*/
    margin-bottom: 1rem;
}

.form-range::-moz-range-thumb {
    background-color: #442121;
}

.form-range::-moz-range-track {
    background-color: #AC8383;
}

.btn {
    background-color: #d4bfbf;
    color: #442121;
    border-color: #442121;
    border-radius: 0.5rem;
}
    .btn:hover {
        background-color: white;
        color: #442121;
        border: solid;
        border-color: #AC8383;
    }

.container {
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
}
